    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
        <title>License Key Management</title>
    </head>
    <body class="font-sans bg-gray-900 text-white">

    <div class="container mx-auto my-8 p-8 bg-gray-800 shadow-md">

        <h1 class="text-2xl font-bold mb-4">License Key Management</h1>

        <!-- Form to create a license -->
        <form action="{{ url_for('create_license') }}" method="post" class="mb-6">
            <label for="user" class="block text-sm font-medium text-gray-300">User:</label>
            <input type="text" id="user" name="user" required
                class="mt-1 p-2 border rounded-md w-full bg-gray-700 focus:outline-none focus:ring focus:border-blue-300">
            <br>
            <label for="days" class="block text-sm font-medium text-gray-300">Days (Optional):</label>
            <input type="number" id="days" name="days"
                class="mt-1 p-2 border rounded-md w-full bg-gray-700 focus:outline-none focus:ring focus:border-blue-300">
            <br>
            <label for="hours" class="block text-sm font-medium text-gray-300">Hours (Optional):</label>
            <input type="number" id="hours" name="hours"
                class="mt-1 p-2 border rounded-md w-full bg-gray-700 focus:outline-none focus:ring focus:border-blue-300">
            <br>
            <label for="minutes" class="block text-sm font-medium text-gray-300">Minutes (Optional):</label>
            <input type="number" id="minutes" name="minutes"
                class="mt-1 p-2 border rounded-md w-full bg-gray-700 focus:outline-none focus:ring focus:border-blue-300">
            <br>
            <label for="seconds" class="block text-sm font-medium text-gray-300">Seconds (Optional):</label>
            <input type="number" id="seconds" name="seconds"
                class="mt-1 p-2 border rounded-md w-full bg-gray-700 focus:outline-none focus:ring focus:border-blue-300">
            <br>
            <button type="submit"
                    class="mt-4 p-2 bg-blue-500 text-white rounded-md hover:bg-blue-600 focus:outline-none focus:ring focus:border-blue-300">
                Create License
            </button>
        </form>



        <hr class="my-6">

    <!-- Display license keys -->
        <h2 class="text-xl font-bold mb-4">License Keys</h2>
        <table class="min-w-full bg-gray-800 border border-gray-700 mb-8"> <!-- Added margin-bottom -->
            <thead>
            <tr>
                <th class="py-2 px-4 border-b">License Key</th>
                <th class="py-2 px-4 border-b">User</th>
                <th class="py-2 px-4 border-b">Expiration Date</th>
                <th class="py-2 px-4 border-b">Action</th>
            </tr>
            </thead>
            <tbody>
            {% for license_key in license_keys %}
            <tr class="text-center"> <!-- Added text-center class -->
                <td class="py-2 px-4 border-b">{{ license_key.key }}</td>
                <td class="py-2 px-4 border-b">{{ license_key.user }}</td>
                <td class="py-2 px-4 border-b">{{ license_key.expiration_date.strftime("%Y-%m-%d") }}</td>
                <td class="py-2 px-4 border-b">
                    <a href="{{ url_for('delete_license', license_key=license_key.key) }}"
                    class="text-red-500 hover:underline">Delete</a>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>

    </div>

    </body>
    </html>
